.about-page {

    /// common use ///
    .container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);

        .header {
            grid-column: span 12;
        }
        .left-content {
            grid-column: span 2;

            @include sm {
                grid-column: span 1;
            }
        }
        .main-content {
            grid-column: span 8;

            @include sm {
                grid-column: span 10;
            }
        }
        .right-content {
            grid-column: span 2;

            @include sm {
                grid-column: span 1;
            }
        }
        .footer {
            grid-column: span 12;
        }

    }

    .text {
        color:$white;
        font-family: "futura_m";
        font-weight: normal;
    
    }

    .sh-text {
        color:$white;
        font-family: "futura_m";
        font-weight: normal;
        text-shadow: transparent 0px 0px 0px, rgba(1, 1, 1, 0.85) 1px 2px 5px;

    }       

    .numbered-heading {
        font-size:1.8rem;
        display: flex;
        align-items: center;

        &.left {

            &::before {
                position: relative;
                counter-increment: section 1;
                content: attr(data-before-content);
                margin-right: 1rem;
                color: $yellow;
                font-weight: 400;
            }
    
            &::after {
                content: "";
                flex: 1;
                margin-left: 1rem;
                height: 1px;
                background-color: #000;              
                margin-left: 20px;
                background-color: $yellow;
                max-width:800px;
    
            }

        }

        &.right {

            &::before {
                content: "";
                flex: 1;
                margin-right: 1rem;
                
                height: 1px;
                background-color: #000;              
                margin-left: 20px;
                background-color: $yellow;
                max-width:800px;
            }
    
            &::after {
                position: relative;
                counter-increment: section 1;
                content: attr(data-before-content);
                margin-left: 1rem;
                color: $yellow;
                font-weight: 400;
    
            }
            
        }

        
    }

    /// end of common use ///


    .whoami-section {
        padding-top:8rem;
        height: 100vh;

        .text-container {
            overflow: hidden;
        }

        .sm-header {
            font-size:2rem;
            color:$yellow;
            padding-bottom:1.5rem;

            @include sm {
                font-size:1rem;
            }
        }

        .lg-header {
            font-size: 5rem;

            @include sm {
                font-size:3rem;
            }
        }

        .wave {
            cursor: pointer;
            animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
            animation-duration: 2.5s;        /* Change to speed up or slow down */
            animation-iteration-count: infinite;  /* Never stop waving :) */
            transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
            display: inline-block;
        }

        @keyframes wave-animation {
            0% { transform: rotate( 0.0deg) }
           10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
           20% { transform: rotate(-8.0deg) }
           30% { transform: rotate(14.0deg) }
           40% { transform: rotate(-4.0deg) }
           50% { transform: rotate(10.0deg) }
           60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
          100% { transform: rotate( 0.0deg) }
        }

        .md-description {
            font-size: 1.5rem;
            line-height: 2rem;
            color: $gray-300;
            max-width: 500px;
            padding-top:1.5rem;

            @include sm {
                font-size:1rem;
                line-height: 1.5rem;
            }
        }

    }

    .ep-1-section {
        // padding-top:8rem;
        height: 100vh;
        opacity:0;

        .about-me-detail {
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            padding-top:2rem;

            .left {
                grid-column: span 6;

                .text {
                    font-size: 1.5rem;
                    line-height: 2rem;
                    color: $gray-300;
                    padding-bottom:.5rem;
                    // max-width:500px;
    
                    @include sm {
                        font-size:1rem;
                        line-height: 1.5rem;
                    }
    
                }

                @include sm {
                    grid-column: span 12;
                }
            }

            .right {
                grid-column: span 6;

                @include sm {
                    grid-column: span 12;
                }

                .image-wrapper {
                    // padding-top: 1rem;

                    @include sm {
                        padding-top:2rem;
                    }

                    .inner-box {
                        cursor: pointer;
                        display: block;
                        width: 260px;
                        height: 416px;
                        overflow: hidden;
                        margin: 0 auto;
                        position: relative;

                        img {
                            width: 260px;
                            height: 416px;
                            display: block;
                            margin: 0;
                            transition: all 0.3s;
                            object-fit: cover;
                        }

                        img:first-child {
                            transition-delay: 3.7s; 
                          }
                        img:nth-child(2) {
                            transition-delay: 2.6s; 
                        }
                        img:nth-child(3) {
                            transition-delay: 1.5s; 
                        }
                        img:nth-child(4) {
                            transition-delay: 0.4s; 
                        }
                        &:hover {
                          img {
                            margin-top: -416px;
                          }
                          img:first-child {
                            transition-delay: 0.4s;
                          }
                          img:nth-child(2) {
                            transition-delay: 1.5s;
                          }
                          img:nth-child(3) {
                            transition-delay: 2.6s;
                          }
                          img:nth-child(4) {
                            transition-delay: 3.7s;
                          }
                          img:last-child {
                            margin-top: 0;
                          }
                        }
                        &:after {
                          position: absolute;
                          content: '';
                          border: 1px solid rgba(0, 0, 0, 0.1);
                          top: 0; right: 0; bottom: 0; left: 0;
                        }
                      }
                }

                
            }


        }

        @include sm {
            height: 100%;
        }
    }

    .job-exp-section {
        // height: 100vh;
        opacity:0;

        @include sm {
            margin-top:10rem;
        }

        .about-job-detail {
            padding-top:2rem;
            // display:grid;
            // grid-template-columns: repeat(6, 1fr);

            .job-exp {
                padding-bottom:2rem;


                .duration {
                    font-size: 1.7rem;
                    padding-bottom:1rem;
                }
    

                .company {
                    font-size: 1.5rem;
                    padding-bottom:1rem;
                }

                .job-title {
                    font-size: 1.5rem;
                    padding-bottom: 1rem;

                    &::before {
                        content:"\00a0\00a0\00a0\00a0\00a0";
                        text-decoration:line-through;
                        color:$yellow;
                        margin-left: 20px;
                        margin-right: 20px;

                        @include sm {
                            margin-left:0px;
                        }

                    }

                }
    
                ul {
                    padding: 1.5rem;
                    list-style-type: none;
                    
                    li {                        

                        &::before {
                            content: "\21FE";  
                            font-weight: bold; 
                            display: inline-block; 
                            width: 1em; 
                            margin-left: -1em;
                            color:$yellow;
                        }

                    }
                }
                
                .text {
                    font-size: 1.5rem;
                    line-height: 2rem;
                    color: $gray-300;
                    padding-bottom:.5rem;
                    // max-width:500px;
        
                    @include sm {
                        font-size:1rem;
                        line-height: 1.5rem;
                    }
        
                }
            }


        }

    }

    .study-exp-section {
        height: 100vh;
        padding-top:3rem;
        opacity:0;

        .about-study-detail {
            padding-top:2rem;
            // display:grid;
            // grid-template-columns: repeat(6, 1fr);

            .study-exp {
                padding-bottom:2rem;


                .duration {
                    font-size: 1.7rem;
                    padding-bottom:1rem;
                }
    

                .school {
                    font-size: 1.5rem;
                    padding-bottom:1rem;
                }

                .study-title {
                    font-size: 1.5rem;
                    padding-bottom: 1rem;

                    &::before {
                        content:"\00a0\00a0\00a0\00a0\00a0";
                        text-decoration:line-through;
                        color:$yellow;
                        margin-left: 20px;
                        margin-right: 20px;

                        @include sm {
                            margin-left:0px;
                        }

                    }

                }
    
                ul {
                    padding: 1.5rem;
                    list-style-type: none;
                    
                    li {                        

                        &::before {
                            content: "\21FE";  
                            font-weight: bold; 
                            display: inline-block; 
                            width: 1em; 
                            margin-left: -1em;
                            color:$yellow;
                        }

                    }
                }
                
                .text {
                    font-size: 1.5rem;
                    line-height: 2rem;
                    color: $gray-300;
                    padding-bottom:.5rem;
                    // max-width:500px;
        
                    @include sm {
                        font-size:1rem;
                        line-height: 1.5rem;
                    }
        
                }
            }


        }

    
    }
}
