.fullpage__slide {
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    color: #fff;

    @include sm {
        display:block;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        max-height: 761px
    }
}

.main-wrapper {
    position: absolute;
    width: 100px;
    height: 50px;
    top: 50%;
    left: 50%;
    margin-left: -50px; /* margin is -0.5 * dimension */
    margin-top: -25px; 
}


.title {
    color: #fff;
    position: absolute;
    overflow: hidden;
    top: 50%;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
    z-index: 200;
    margin-left: 15%;

    &__text {
        font-size: 6rem;
        line-height: 1;
        letter-spacing: 0.1em;
        margin-bottom: 1.6rem;
        font-family: "futura_m";
        font-weight: normal;
        text-shadow: transparent 0px 0px 0px, rgba(1,1,1, .85) 1px 2px 5px;
    
        @include md {
            font-size:5rem;
        }
    
        @include sm {
            font-size: 3rem;
            margin-bottom: 0.8rem;
            text-shadow: transparent 0px 0px 0px, rgba(1,1,1, .85) 1px 2px 5px;
        }
    
    }

    li {
        margin-bottom: 1.6rem;

        &::last-child {
            margin-bottom: 0;

            a {
                margin-right: 3.2rem;

                @include sm {
                    margin-right:1.6rem;
                }

            }

        }

        @include sm {
            margin-bottom:0.8rem;
            line-height: 1.1
        }
    }

    .border {
        display: inline-block;
        margin-bottom: 3.2rem;

        span {
            display: block;
            width: 88px;
            height: 4px;
            border-radius: 5px;
            background: #fff55a;

            &::first-child {
                margin-bottom: 1.4rem;

                @include sm {
                    margin-bottom:0.7rem;
                }
            }

            &::last-child {
                margin-left: 54px;
            }

            @include lg {
                width:70px;
            }

            @include sm {
                width:44px;
                height: 2px;
            }
        }

        @include sm {
            margin-bottom:0.8rem
        }


    }

    @include lg {
        margin-left:40px
    }

    @include sm {
        width:87.5%;
        margin: 0 6.25%;
        top: auto;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        bottom: 8rem;
    }

}

.main-title {
    margin-left: 25%;

    &__text {
        text-align: center;
        font-size: 3rem;
        text-shadow: transparent 0px 0px 0px, rgba(1,1,1, .85) 1px 2px 5px;
        color: #fff;
        padding: 40px 0;
        font-weight: 800;
        text-transform: uppercase;
        letter-spacing: 0.25em;
        overflow: hidden;
    
        .letter {
            display: inline-block;
            line-height: 1em;
        }

    }

    @include sm {
        width: 80%;
        height: 55.633%;
        margin: 0 10%;
        top: 2%;
        position: fixed;
    }

}

.title__lead {
    color: #fff;
    font-size: 2.8rem;
    line-height: 1.5;
    letter-spacing: 0.1em;

    @include lg {
        font-size:2.4rem;
        line-height: 1.4
    }

    @include sm {
        font-size: 1.5rem;
    }
}


.title li a {
    color: #fff;
    font-size: 2.8rem;
    line-height: 1.5;
    letter-spacing: 0.1em;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;

    &:hover {
        opacity: 0.5
    }

    @include lg {
        font-size:2.4rem;
        line-height: 1.4
    }

    @include sm {
        font-size: 1.5rem;
    }

}


.image {
    display: block;
    position: relative;
    width: 53.125%;
    height: 74.81%;
    margin: 0 8% 0 auto;
    -webkit-box-shadow: 0 80px 140px -40px rgba(0, 0, 0, 0.6);
    box-shadow: 0 80px 140px -40px rgba(0, 0, 0, 0.6);

    .page-num {
        position: absolute;
        overflow-y: hidden;
        // right: -7.5490%;
        right: 5%;
        bottom: 0%;
        font-size: 5rem;
        color: #fff;
        font-family: "Abril Fatface";
        z-index: 200;

        p {
            line-height: 1.1;
            text-shadow: transparent 0px 0px 0px, rgba(1,1,1, .85) 1px 2px 5px; 
    
            @include sm {
                text-shadow: transparent 0px 0px 0px, rgba(1,1,1, .85) 1px 2px 5px;
            }

        }

        @include lg {
            font-size:7.5rem;
            right: 5%;
        }

        @include sm {
            display:none;
        }
    }

    @include lg {
        margin-right:40px;
    }

    @include sm {
        width:80%;
        height: 55%;
        margin: 0 10%;
        top: 15%;
    }
}

.image__over {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative
}

.image__cover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background: #ff4d5a;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0)
}

.image__cover:last-child {
    background: #072142
}

.image--works {
    background:url('././img/work-me.webp') no-repeat center;
    background-size: cover
}

.image--about {
    background: url("././img/about-me.webp") no-repeat center;
    background-size: cover
}

.image--contact {
    background: url("././img/let-connect.webp") no-repeat center;
    background-size: cover
}


.btn-wrap {
    margin-top: 3.2rem;

    .btn {
        display: inline-block;
        font-size: 1.8rem;
        color: grey;
        background: #fff55a;
        line-height: 1;
        font-weight: bold;
        padding: 18px 32px;
        -webkit-transition: .5s;
        -o-transition: .5s;
        transition: .5s;
        letter-spacing: 0.1em;
        
        &:hover {
            -webkit-transform: translate3d(0, -5%, 0);
            transform: translate3d(0, -5%, 0);
            opacity: .5;
        }
    
        @include lg {
            font-size:1.8rem;
            padding: 13px 24px;
        }
    
        @include sm {
            font-size:1.2rem;
        }
    }

    @include lg {
        margin-top:1.6rem;
    }

    @include sm {
        text-align:center;
        margin-top: 0.8rem;
    }
}


