.title {
    color: #fff;
    position: absolute;
    overflow: hidden;
    top: 50%;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
    z-index: 200;
    margin-left: 15%
}

@media screen and (max-width: 800px) {
    .title {
        margin-left:40px
    }
}

@media screen and (max-width: 420px) {
    .title {
        width:87.5%;
        margin: 0 6.25%;
        top: auto;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        bottom: 8rem
    }
}

@media screen and (max-width: 420px) {
    .title__text--top {
        font-size:5.4rem;
        text-shadow: 0 10px 30px rgba(2, 11, 22, 0.5);
        margin-bottom: 0.1rem
    }
}

.title .border {
    display: inline-block;
    margin-bottom: 3.2rem
}

@media screen and (max-width: 420px) {
    .title .border {
        margin-bottom:0.8rem
    }
}

.title .border span {
    display: block;
    width: 88px;
    height: 4px;
    border-radius: 5px;
    background: #ff4d5a
}

.title .border span:first-child {
    margin-bottom: 1.4rem
}

@media screen and (max-width: 420px) {
    .title .border span:first-child {
        margin-bottom:0.7rem
    }
}

@media screen and (max-width: 800px) {
    .title .border span {
        width:70px
    }
}

@media screen and (max-width: 420px) {
    .title .border span {
        width:44px;
        height: 2px
    }
}

.title .border span:last-child {
    margin-left: 54px
}

@media screen and (max-width: 800px) {
    .title .border span:last-child {
        margin-left:43px
    }
}

@media screen and (max-width: 420px) {
    .title .border span:last-child {
        margin-left:27px
    }
}

.title__lead {
    color: #fff;
    font-size: 2.8rem;
    line-height: 1.5;
    letter-spacing: 0.1em
}

@media screen and (max-width: 800px) {
    .title__lead {
        font-size:2.4rem;
        line-height: 1.4
    }
}

@media screen and (max-width: 420px) {
    .title__lead {
        font-size:1.2rem
    }
}

.title li {
    margin-bottom: 1.6rem
}

@media screen and (max-width: 420px) {
    .title li {
        margin-bottom:0.8rem;
        line-height: 1.1
    }
}

.title li:last-child {
    margin-bottom: 0
}

.title li:last-child a {
    margin-right: 3.2rem
}

@media screen and (max-width: 420px) {
    .title li:last-child a {
        margin-right:1.6rem
    }
}

.title li:last-child a:last-child {
    margin-right: 0
}

.title li a {
    color: #fff;
    font-size: 2.8rem;
    line-height: 1.5;
    letter-spacing: 0.1em;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s
}

@media screen and (max-width: 800px) {
    .title li a {
        font-size:2.4rem;
        line-height: 1.4
    }
}

@media screen and (max-width: 420px) {
    .title li a {
        font-size:1.2rem
    }
}

.title li a:hover {
    opacity: 0.5
}


.image {
    display: block;
    position: relative;
    width: 53.125%;
    height: 74.81%;
    margin: 0 8% 0 auto;
    -webkit-box-shadow: 0 80px 140px -40px rgba(0, 0, 0, 0.6);
    box-shadow: 0 80px 140px -40px rgba(0, 0, 0, 0.6)
}

@media screen and (max-width: 800px) {
    .image {
        margin-right:40px
    }
}

@media screen and (max-width: 420px) {
    .image {
        width:80%;
        height: 55.633%;
        margin: 0 10%;
        top: 9.859%
    }
}

.image__over {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative
}

.image__cover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background: #ff4d5a;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0)
}

.image__cover:last-child {
    background: #072142
}

.image--works {
    background: url("././img/reile.jpg") no-repeat center;
    background-size: cover
}

.image--about {
    background: url("././img/about.jpg") no-repeat center;
    background-size: cover
}

.image--contact {
    background: url("././img/contact.jpg") no-repeat center;
    background-size: cover
}

.image .page-num {
    position: absolute;
    overflow-y: hidden;
    right: -7.5490%;
    bottom: 12.3762%;
    font-size: 15rem;
    color: #fff;
    font-family: "Abril Fatface";
    z-index: 200
}

@media screen and (max-width: 800px) {
    .image .page-num {
        font-size:7.5rem;
        right: -5%
    }
}

@media screen and (max-width: 420px) {
    .image .page-num {
        display:none
    }
}

.image .page-num p {
    line-height: 1.1;
    text-shadow: 0 10px 30px rgba(2, 11, 22, 0.5)
}

@media screen and (max-width: 420px) {
    .image .page-num p {
        text-shadow:0 3px 10px rgba(2, 11, 22, 0.5)
    }
}



.btn {
    display: inline-block;
    font-size: 1.8rem;
    color: #fff;
    background: #ff4d5a;
    line-height: 1;
    font-weight: bold;
    padding: 18px 32px;
    border-radius: 50px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    letter-spacing: 0.1em
}

@media screen and (max-width: 800px) {
    .btn {
        font-size:1.8rem;
        padding: 13px 24px
    }
}

@media screen and (max-width: 420px) {
    .btn {
        font-size:1.2rem
    }
}

.btn:hover {
    -webkit-transform: translate3d(0, -5%, 0);
    transform: translate3d(0, -5%, 0);
    opacity: 1
}

.btn-wrap {
    margin-top: 3.2rem
}

@media screen and (max-width: 800px) {
    .btn-wrap {
        margin-top:1.6rem
    }
}

@media screen and (max-width: 420px) {
    .btn-wrap {
        text-align:center;
        margin-top: 0.8rem
    }
}



