.fullpage-header {
    .header {
        position:fixed;
        width:100%;
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding:2.5rem;
        padding-top:1rem;
        z-index: 9999;
    
        .left {
    
            .name {
                font-size: 30px;
                color: white;
                cursor: pointer;
                opacity: 0;
    
                &:hover {
                    opacity: .4 !important;
                }
    
            }
    
        }
    
        .right {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
    
            .social-media {
                display:flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding: 1rem;
                padding-right: 4rem;
    
    
                @include lg {
                }
                @include md {
                }
                @include sm {
                display:none;
                }
            }
    
            .wrapper {
                margin:1rem;
                color: white;
                cursor: pointer;
                opacity: 0;
    
                @include sm {
                    margin:0;
                }

                &:hover {
                    opacity: .4 !important;
                }
            }
            
        }

        @include sm {
            padding:2.25rem;
        }
    }
    
    .global-nav {
        background: #020b16;
        position: fixed;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 999;

        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);

        .global-nav__list {
            font-size: 7rem;

            @include lg {
                font-size:5rem;
            }
        }

        .text-container {
            overflow: hidden;
        }
    }


    
}