@charset "UTF-8";a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

html {
    background:url('././img/horizon-what.jpg');
    font-size: 62.5%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow-x: hidden;
    
    @include lg {
        font-size: 58%;
    }
    @include md {
        font-size: 52%;
    }
    @include sm {
        font-size: 50%;
    }
}

*,:after,:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

body {
    font-family: 'osawald_regular','futura_r','Helvetica Neue','Helvetica', sans-serif;
    color: #828c96;
    overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6 {
    line-height: 1.2
}


p {
    line-height: 2;
    word-wrap: break-word;
    white-space: normal
}


li {
    list-style-type: none
}

a {
    // color: #072142;
    color: #fff;
    text-decoration: none
}

a:hover {
    text-decoration: none
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    width: 100%
}
