@font-face {
    font-family: "futura_m";
    src: url("../assets/fonts/Futura-Med.woff") format("eot"), url("../assets/fonts/Futura-Med.woff") format("woff")
}

@font-face {
    font-family: "futura_r";
    src: url("../assets/fonts/Futura-Boo.woff") format("eot"), url("../assets/fonts/Futura-Boo.woff") format("woff")
}

@font-face {
    font-family: "futura_b";
    src: url("../assets/fonts/Futura-Bol.woff") format("eot"), url("../assets/fonts/Futura-Bol.woff") format("woff")
}

@font-face {
    font-family: "futura_de";
    src: url("../assets/fonts/Futura-Dem.woff") format("eot"), url("../assets/fonts/Futura-Dem.woff") format("woff")
}
@font-face {
    font-family: "osawald_regular";
    src: url("../assets/fonts/Oswald-Regular.woff") format("eot"), url("../assets/fonts/Oswald-Regular.woff") format("woff")
}