text-shadow {
  text-shadow: transparent 0px 0px 0px, rgba(1, 1, 1, 0.85) 1px 2px 5px; }

@font-face {
  font-family: "futura_m";
  src: url("../assets/fonts/Futura-Med.woff") format("eot"), url("../assets/fonts/Futura-Med.woff") format("woff"); }

@font-face {
  font-family: "futura_r";
  src: url("../assets/fonts/Futura-Boo.woff") format("eot"), url("../assets/fonts/Futura-Boo.woff") format("woff"); }

@font-face {
  font-family: "futura_b";
  src: url("../assets/fonts/Futura-Bol.woff") format("eot"), url("../assets/fonts/Futura-Bol.woff") format("woff"); }

@font-face {
  font-family: "futura_de";
  src: url("../assets/fonts/Futura-Dem.woff") format("eot"), url("../assets/fonts/Futura-Dem.woff") format("woff"); }

@font-face {
  font-family: "osawald_regular";
  src: url("../assets/fonts/Oswald-Regular.woff") format("eot"), url("../assets/fonts/Oswald-Regular.woff") format("woff"); }

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0; }

html {
  background: #fc6542;
  background: linear-gradient(90deg, #fc6542 0%, #fd6341 35%, #f75739 100%); }

*, :after, :before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'osawald_regular','futura_r','Helvetica Neue','Helvetica', sans-serif;
  color: #828c96;
  overflow-x: hidden; }

li {
  list-style-type: none; }

a {
  color: #fff;
  text-decoration: none; }

a:hover {
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  width: 100%; }

.fullpage__slide {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  color: #fff; }
  @media (max-width: 596px) {
    .fullpage__slide {
      display: block;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      max-height: 761px; } }

.main-wrapper {
  position: absolute;
  width: 100px;
  height: 50px;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  /* margin is -0.5 * dimension */
  margin-top: -25px; }

.title {
  color: #fff;
  position: absolute;
  overflow: hidden;
  top: 50%;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
  z-index: 200;
  margin-left: 15%; }
  .title__text {
    font-size: 6rem;
    line-height: 1;
    letter-spacing: 0.1em;
    margin-bottom: 1.6rem;
    font-family: "futura_m";
    font-weight: normal;
    text-shadow: transparent 0px 0px 0px, rgba(1, 1, 1, 0.85) 1px 2px 5px; }
    @media (max-width: 768px) {
      .title__text {
        font-size: 5rem; } }
    @media (max-width: 596px) {
      .title__text {
        font-size: 3rem;
        margin-bottom: 0.8rem;
        text-shadow: transparent 0px 0px 0px, rgba(1, 1, 1, 0.85) 1px 2px 5px; } }
  .title li {
    margin-bottom: 1.6rem; }
    .title li::last-child {
      margin-bottom: 0; }
      .title li::last-child a {
        margin-right: 3.2rem; }
        @media (max-width: 596px) {
          .title li::last-child a {
            margin-right: 1.6rem; } }
    @media (max-width: 596px) {
      .title li {
        margin-bottom: 0.8rem;
        line-height: 1.1; } }
  .title .border {
    display: inline-block;
    margin-bottom: 3.2rem; }
    .title .border span {
      display: block;
      width: 88px;
      height: 4px;
      border-radius: 5px;
      background: #fff55a; }
      .title .border span::first-child {
        margin-bottom: 1.4rem; }
        @media (max-width: 596px) {
          .title .border span::first-child {
            margin-bottom: 0.7rem; } }
      .title .border span::last-child {
        margin-left: 54px; }
      @media (max-width: 992px) {
        .title .border span {
          width: 70px; } }
      @media (max-width: 596px) {
        .title .border span {
          width: 44px;
          height: 2px; } }
    @media (max-width: 596px) {
      .title .border {
        margin-bottom: 0.8rem; } }
  @media (max-width: 992px) {
    .title {
      margin-left: 40px; } }
  @media (max-width: 596px) {
    .title {
      width: 87.5%;
      margin: 0 6.25%;
      top: auto;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      bottom: 8rem; } }

.main-title {
  margin-left: 25%; }
  .main-title__text {
    text-align: center;
    font-size: 3rem;
    text-shadow: transparent 0px 0px 0px, rgba(1, 1, 1, 0.85) 1px 2px 5px;
    color: #fff;
    padding: 40px 0;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    overflow: hidden; }
    .main-title__text .letter {
      display: inline-block;
      line-height: 1em; }
  @media (max-width: 596px) {
    .main-title {
      width: 80%;
      height: 55.633%;
      margin: 0 10%;
      top: 2%;
      position: fixed; } }

.title__lead {
  color: #fff;
  font-size: 2.8rem;
  line-height: 1.5;
  letter-spacing: 0.1em; }
  @media (max-width: 992px) {
    .title__lead {
      font-size: 2.4rem;
      line-height: 1.4; } }
  @media (max-width: 596px) {
    .title__lead {
      font-size: 1.5rem; } }

.title li a {
  color: #fff;
  font-size: 2.8rem;
  line-height: 1.5;
  letter-spacing: 0.1em;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .title li a:hover {
    opacity: 0.5; }
  @media (max-width: 992px) {
    .title li a {
      font-size: 2.4rem;
      line-height: 1.4; } }
  @media (max-width: 596px) {
    .title li a {
      font-size: 1.5rem; } }

.image {
  display: block;
  position: relative;
  width: 53.125%;
  height: 74.81%;
  margin: 0 8% 0 auto;
  -webkit-box-shadow: 0 80px 140px -40px rgba(0, 0, 0, 0.6);
  box-shadow: 0 80px 140px -40px rgba(0, 0, 0, 0.6); }
  .image .page-num {
    position: absolute;
    overflow-y: hidden;
    right: 5%;
    bottom: 0%;
    font-size: 5rem;
    color: #fff;
    font-family: "Abril Fatface";
    z-index: 200; }
    .image .page-num p {
      line-height: 1.1;
      text-shadow: transparent 0px 0px 0px, rgba(1, 1, 1, 0.85) 1px 2px 5px; }
      @media (max-width: 596px) {
        .image .page-num p {
          text-shadow: transparent 0px 0px 0px, rgba(1, 1, 1, 0.85) 1px 2px 5px; } }
    @media (max-width: 992px) {
      .image .page-num {
        font-size: 7.5rem;
        right: 5%; } }
    @media (max-width: 596px) {
      .image .page-num {
        display: none; } }
  @media (max-width: 992px) {
    .image {
      margin-right: 40px; } }
  @media (max-width: 596px) {
    .image {
      width: 80%;
      height: 55%;
      margin: 0 10%;
      top: 15%; } }

.image__over {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative; }

.image__cover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background: #ff4d5a;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0); }

.image__cover:last-child {
  background: #072142; }

.image--works {
  background: url("././img/work-me.jpg") no-repeat center;
  background-size: cover; }

.image--about {
  background: url("././img/about-me.jpg") no-repeat center;
  background-size: cover; }

.image--contact {
  background: url("././img/let-connect.jpg") no-repeat center;
  background-size: cover; }

.btn-wrap {
  margin-top: 3.2rem; }
  .btn-wrap .btn {
    display: inline-block;
    font-size: 1.8rem;
    color: grey;
    background: #fff55a;
    line-height: 1;
    font-weight: bold;
    padding: 18px 32px;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    letter-spacing: 0.1em; }
    .btn-wrap .btn:hover {
      -webkit-transform: translate3d(0, -5%, 0);
      transform: translate3d(0, -5%, 0);
      opacity: .5; }
    @media (max-width: 992px) {
      .btn-wrap .btn {
        font-size: 1.8rem;
        padding: 13px 24px; } }
    @media (max-width: 596px) {
      .btn-wrap .btn {
        font-size: 1.2rem; } }
  @media (max-width: 992px) {
    .btn-wrap {
      margin-top: 1.6rem; } }
  @media (max-width: 596px) {
    .btn-wrap {
      text-align: center;
      margin-top: 0.8rem; } }

.back-btn-wrap {
  text-align: center; }

.back-btn {
  display: inline-block;
  font-size: 3.2rem;
  color: #020b16;
  letter-spacing: 0.2em;
  position: relative;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translate3d(44px, 0, 0);
  transform: translate3d(44px, 0, 0); }

@media screen and (max-width: 420px) {
  .back-btn {
    font-size: 1.6rem;
    -webkit-transform: translate3d(22px, 0, 0);
    transform: translate3d(22px, 0, 0); } }

.back-btn:after {
  content: "";
  width: 64px;
  height: 2px;
  background: #020b16;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -88px;
  margin: auto;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }

@media screen and (max-width: 420px) {
  .back-btn:after {
    width: 32px;
    left: -44px; } }

.back-btn:before {
  content: "";
  width: 24px;
  height: 1px;
  background: #020b16;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -88px;
  margin: auto;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }

@media screen and (max-width: 800px) {
  .back-btn:before {
    width: 12px;
    left: -44px;
    -webkit-transform: rotate(-45deg) translate3d(4px, -4px, 0);
    transform: rotate(-45deg) translate3d(4px, -4px, 0);
    display: none; } }

.back-btn:hover {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.back-btn:hover:after {
  width: 80px;
  left: -112px; }

.back-btn:hover:before {
  left: -112px;
  -webkit-transform: rotate(-45deg) translate3d(2px, -8px, 0);
  transform: rotate(-45deg) translate3d(2px, -8px, 0); }

#fp-nav {
  margin: 0 !important;
  -webkit-transform: translate3d(0, -50%, 0) !important;
  transform: translate3d(0, -50%, 0);
  width: 40px !important;
  left: 40px !important;
  overflow: hidden !important; }
  #fp-nav.fp-left {
    opacity: 0; }
  #fp-nav ul li {
    height: 3px !important;
    margin: 0 0 40px !important; }
    #fp-nav ul li :last-child {
      margin-bottom: 0; }
    #fp-nav ul li .active {
      width: 40px; }
      @media (max-width: 992px) {
        #fp-nav ul li .active {
          width: 5px !important;
          height: 40px !important; } }
      @media (max-width: 596px) {
        #fp-nav ul li .active {
          width: 5px !important;
          height: 40px !important; } }
    #fp-nav ul li a {
      width: 24px;
      height: 100%;
      background: #fff;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
      #fp-nav ul li a span {
        display: none; }
      @media (max-width: 992px) {
        #fp-nav ul li a {
          width: 3px !important;
          height: 24px !important; } }
      @media (max-width: 596px) {
        #fp-nav ul li a {
          width: 2px;
          height: 16px; } }
    @media (max-width: 992px) {
      #fp-nav ul li {
        height: auto !important;
        margin: 0 28px !important; } }
    @media (max-width: 596px) {
      #fp-nav ul li {
        margin: 0 12px !important; } }
  @media (max-width: 992px) {
    #fp-nav ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end; } }
  @media (max-width: 992px) {
    #fp-nav {
      width: auto !important;
      top: auto !important;
      left: 50% !important;
      bottom: 32px !important;
      -webkit-transform: translate3d(-50%, 0, 0) !important;
      transform: translate3d(-50%, 0, 0) !important; } }
  @media (max-width: 596px) {
    #fp-nav {
      bottom: 20px !important; } }

.scrollDown {
  position: fixed;
  font-size: 1.4rem;
  bottom: 80px;
  left: 20px;
  line-height: 1;
  letter-spacing: 0.3em;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  color: #fff;
  z-index: 100; }
  .scrollDown::after {
    content: "";
    width: 2px;
    height: 64px;
    background: #fff;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: -80px; }
    @media (max-width: 596px) {
      .scrollDown::after {
        height: 32px;
        bottom: -40px; } }
  @media (max-width: 596px) {
    .scrollDown {
      left: auto;
      right: 6.25%;
      font-size: 1rem;
      bottom: 40px; } }

.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #020b16;
  top: 0;
  left: 0; }
  .loader.js-hidden {
    display: none; }

.back-wrapper {
  position: fixed;
  top: 0;
  left: 1%;
  color: #fff55a;
  cursor: pointer;
  transition: 0.5s; }
  .back-wrapper:hover {
    transform: translateX(10px);
    opacity: .4 !important; }

.fullpage-header .header {
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem;
  padding-top: 1rem;
  z-index: 9999; }
  .fullpage-header .header .left .name {
    font-size: 30px;
    color: white;
    cursor: pointer;
    opacity: 0; }
    .fullpage-header .header .left .name:hover {
      opacity: .4 !important; }
  .fullpage-header .header .right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    .fullpage-header .header .right .social-media {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;
      padding-right: 4rem; }
      @media (max-width: 596px) {
        .fullpage-header .header .right .social-media {
          display: none; } }
    .fullpage-header .header .right .wrapper {
      margin: 1rem;
      color: white;
      cursor: pointer;
      opacity: 0; }
      @media (max-width: 596px) {
        .fullpage-header .header .right .wrapper {
          margin: 0; } }
      .fullpage-header .header .right .wrapper:hover {
        opacity: .4 !important; }
  @media (max-width: 596px) {
    .fullpage-header .header {
      padding: 2.25rem; } }

.about-page .container {
  display: grid;
  grid-template-columns: repeat(12, 1fr); }
  .about-page .container .header {
    grid-column: span 12; }
  .about-page .container .left-content {
    grid-column: span 2; }
    @media (max-width: 596px) {
      .about-page .container .left-content {
        grid-column: span 1; } }
  .about-page .container .main-content {
    grid-column: span 8; }
    @media (max-width: 596px) {
      .about-page .container .main-content {
        grid-column: span 10; } }
  .about-page .container .right-content {
    grid-column: span 2; }
    @media (max-width: 596px) {
      .about-page .container .right-content {
        grid-column: span 1; } }
  .about-page .container .footer {
    grid-column: span 12; }

.about-page .text {
  color: #fff;
  font-family: "futura_m";
  font-weight: normal; }

.about-page .sh-text {
  color: #fff;
  font-family: "futura_m";
  font-weight: normal;
  text-shadow: transparent 0px 0px 0px, rgba(1, 1, 1, 0.85) 1px 2px 5px; }

.about-page .numbered-heading {
  font-size: 1.8rem;
  display: flex;
  align-items: center; }
  .about-page .numbered-heading.left::before {
    position: relative;
    counter-increment: section 1;
    content: attr(data-before-content);
    margin-right: 1rem;
    color: #fff55a;
    font-weight: 400; }
  .about-page .numbered-heading.left::after {
    content: "";
    flex: 1;
    margin-left: 1rem;
    height: 1px;
    background-color: #000;
    margin-left: 20px;
    background-color: #fff55a;
    max-width: 800px; }
  .about-page .numbered-heading.right::before {
    content: "";
    flex: 1;
    margin-right: 1rem;
    height: 1px;
    background-color: #000;
    margin-left: 20px;
    background-color: #fff55a;
    max-width: 800px; }
  .about-page .numbered-heading.right::after {
    position: relative;
    counter-increment: section 1;
    content: attr(data-before-content);
    margin-left: 1rem;
    color: #fff55a;
    font-weight: 400; }

.about-page .whoami-section {
  padding-top: 8rem;
  height: 100vh; }
  .about-page .whoami-section .text-container {
    overflow: hidden; }
  .about-page .whoami-section .sm-header {
    font-size: 2rem;
    color: #fff55a;
    padding-bottom: 1.5rem; }
    @media (max-width: 596px) {
      .about-page .whoami-section .sm-header {
        font-size: 1rem; } }
  .about-page .whoami-section .lg-header {
    font-size: 5rem; }
    @media (max-width: 596px) {
      .about-page .whoami-section .lg-header {
        font-size: 3rem; } }
  .about-page .whoami-section .wave {
    cursor: pointer;
    animation-name: wave-animation;
    /* Refers to the name of your @keyframes element below */
    animation-duration: 2.5s;
    /* Change to speed up or slow down */
    animation-iteration-count: infinite;
    /* Never stop waving :) */
    transform-origin: 70% 70%;
    /* Pivot around the bottom-left palm */
    display: inline-block; }

@keyframes wave-animation {
  0% {
    transform: rotate(0deg); }
  10% {
    transform: rotate(14deg); }
  /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg); }
  30% {
    transform: rotate(14deg); }
  40% {
    transform: rotate(-4deg); }
  50% {
    transform: rotate(10deg); }
  60% {
    transform: rotate(0deg); }
  /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg); } }
  .about-page .whoami-section .md-description {
    font-size: 1.5rem;
    line-height: 2rem;
    color: #dee2e6;
    max-width: 500px;
    padding-top: 1.5rem; }
    @media (max-width: 596px) {
      .about-page .whoami-section .md-description {
        font-size: 1rem;
        line-height: 1.5rem; } }

.about-page .ep-1-section {
  height: 100vh;
  opacity: 0; }
  .about-page .ep-1-section .about-me-detail {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding-top: 2rem; }
    .about-page .ep-1-section .about-me-detail .left {
      grid-column: span 6; }
      .about-page .ep-1-section .about-me-detail .left .text {
        font-size: 1.5rem;
        line-height: 2rem;
        color: #dee2e6;
        padding-bottom: .5rem; }
        @media (max-width: 596px) {
          .about-page .ep-1-section .about-me-detail .left .text {
            font-size: 1rem;
            line-height: 1.5rem; } }
      @media (max-width: 596px) {
        .about-page .ep-1-section .about-me-detail .left {
          grid-column: span 12; } }
    .about-page .ep-1-section .about-me-detail .right {
      grid-column: span 6; }
      @media (max-width: 596px) {
        .about-page .ep-1-section .about-me-detail .right {
          grid-column: span 12; } }
      @media (max-width: 596px) {
        .about-page .ep-1-section .about-me-detail .right .image-wrapper {
          padding-top: 2rem; } }
      .about-page .ep-1-section .about-me-detail .right .image-wrapper .inner-box {
        cursor: pointer;
        display: block;
        width: 260px;
        height: 416px;
        overflow: hidden;
        margin: 0 auto;
        position: relative; }
        .about-page .ep-1-section .about-me-detail .right .image-wrapper .inner-box img {
          width: 260px;
          height: 416px;
          display: block;
          margin: 0;
          transition: all 0.3s;
          object-fit: cover; }
        .about-page .ep-1-section .about-me-detail .right .image-wrapper .inner-box img:first-child {
          transition-delay: 3.7s; }
        .about-page .ep-1-section .about-me-detail .right .image-wrapper .inner-box img:nth-child(2) {
          transition-delay: 2.6s; }
        .about-page .ep-1-section .about-me-detail .right .image-wrapper .inner-box img:nth-child(3) {
          transition-delay: 1.5s; }
        .about-page .ep-1-section .about-me-detail .right .image-wrapper .inner-box img:nth-child(4) {
          transition-delay: 0.4s; }
        .about-page .ep-1-section .about-me-detail .right .image-wrapper .inner-box:hover img {
          margin-top: -416px; }
        .about-page .ep-1-section .about-me-detail .right .image-wrapper .inner-box:hover img:first-child {
          transition-delay: 0.4s; }
        .about-page .ep-1-section .about-me-detail .right .image-wrapper .inner-box:hover img:nth-child(2) {
          transition-delay: 1.5s; }
        .about-page .ep-1-section .about-me-detail .right .image-wrapper .inner-box:hover img:nth-child(3) {
          transition-delay: 2.6s; }
        .about-page .ep-1-section .about-me-detail .right .image-wrapper .inner-box:hover img:nth-child(4) {
          transition-delay: 3.7s; }
        .about-page .ep-1-section .about-me-detail .right .image-wrapper .inner-box:hover img:last-child {
          margin-top: 0; }
        .about-page .ep-1-section .about-me-detail .right .image-wrapper .inner-box:after {
          position: absolute;
          content: '';
          border: 1px solid rgba(0, 0, 0, 0.1);
          top: 0;
          right: 0;
          bottom: 0;
          left: 0; }
  @media (max-width: 596px) {
    .about-page .ep-1-section {
      height: 100%; } }

.about-page .job-exp-section {
  opacity: 0; }
  @media (max-width: 596px) {
    .about-page .job-exp-section {
      margin-top: 3rem; } }
  .about-page .job-exp-section .about-job-detail {
    padding-top: 2rem; }
    .about-page .job-exp-section .about-job-detail .job-exp {
      padding-bottom: 2rem; }
      .about-page .job-exp-section .about-job-detail .job-exp .duration {
        font-size: 1.7rem;
        padding-bottom: 1rem; }
      .about-page .job-exp-section .about-job-detail .job-exp .company {
        font-size: 1.5rem;
        padding-bottom: 1rem; }
      .about-page .job-exp-section .about-job-detail .job-exp .job-title {
        font-size: 1.5rem;
        padding-bottom: 1rem; }
        .about-page .job-exp-section .about-job-detail .job-exp .job-title::before {
          content: "\00a0\00a0\00a0\00a0\00a0";
          text-decoration: line-through;
          color: #fff55a;
          margin-left: 20px;
          margin-right: 20px; }
          @media (max-width: 596px) {
            .about-page .job-exp-section .about-job-detail .job-exp .job-title::before {
              margin-left: 0px; } }
      .about-page .job-exp-section .about-job-detail .job-exp ul {
        padding: 1.5rem;
        list-style-type: none; }
        .about-page .job-exp-section .about-job-detail .job-exp ul li::before {
          content: "\21FE";
          font-weight: bold;
          display: inline-block;
          width: 1em;
          margin-left: -1em;
          color: #fff55a; }
      .about-page .job-exp-section .about-job-detail .job-exp .text {
        font-size: 1.5rem;
        line-height: 2rem;
        color: #dee2e6;
        padding-bottom: .5rem; }
        @media (max-width: 596px) {
          .about-page .job-exp-section .about-job-detail .job-exp .text {
            font-size: 1rem;
            line-height: 1.5rem; } }

.about-page .study-exp-section {
  height: 100vh;
  padding-top: 3rem;
  opacity: 0; }
  .about-page .study-exp-section .about-study-detail {
    padding-top: 2rem; }
    .about-page .study-exp-section .about-study-detail .study-exp {
      padding-bottom: 2rem; }
      .about-page .study-exp-section .about-study-detail .study-exp .duration {
        font-size: 1.7rem;
        padding-bottom: 1rem; }
      .about-page .study-exp-section .about-study-detail .study-exp .school {
        font-size: 1.5rem;
        padding-bottom: 1rem; }
      .about-page .study-exp-section .about-study-detail .study-exp .study-title {
        font-size: 1.5rem;
        padding-bottom: 1rem; }
        .about-page .study-exp-section .about-study-detail .study-exp .study-title::before {
          content: "\00a0\00a0\00a0\00a0\00a0";
          text-decoration: line-through;
          color: #fff55a;
          margin-left: 20px;
          margin-right: 20px; }
          @media (max-width: 596px) {
            .about-page .study-exp-section .about-study-detail .study-exp .study-title::before {
              margin-left: 0px; } }
      .about-page .study-exp-section .about-study-detail .study-exp ul {
        padding: 1.5rem;
        list-style-type: none; }
        .about-page .study-exp-section .about-study-detail .study-exp ul li::before {
          content: "\21FE";
          font-weight: bold;
          display: inline-block;
          width: 1em;
          margin-left: -1em;
          color: #fff55a; }
      .about-page .study-exp-section .about-study-detail .study-exp .text {
        font-size: 1.5rem;
        line-height: 2rem;
        color: #dee2e6;
        padding-bottom: .5rem; }
        @media (max-width: 596px) {
          .about-page .study-exp-section .about-study-detail .study-exp .text {
            font-size: 1rem;
            line-height: 1.5rem; } }

.work-page .container {
  display: grid;
  grid-template-columns: repeat(12, 1fr); }
  .work-page .container .header {
    grid-column: span 12; }
  .work-page .container .left-content {
    grid-column: span 2; }
    @media (max-width: 596px) {
      .work-page .container .left-content {
        grid-column: span 1; } }
  .work-page .container .main-content {
    grid-column: span 8; }
    @media (max-width: 596px) {
      .work-page .container .main-content {
        grid-column: span 10; } }
  .work-page .container .right-content {
    grid-column: span 2; }
    @media (max-width: 596px) {
      .work-page .container .right-content {
        grid-column: span 1; } }
  .work-page .container .footer {
    grid-column: span 12; }

.work-page .text {
  color: #fff;
  font-family: "futura_m";
  font-weight: normal; }

.work-page .sh-text {
  color: #fff;
  font-family: "futura_m";
  font-weight: normal;
  text-shadow: transparent 0px 0px 0px, rgba(1, 1, 1, 0.85) 1px 2px 5px; }

.work-page .numbered-heading {
  font-size: 1.8rem;
  display: flex;
  align-items: center; }
  .work-page .numbered-heading.left::before {
    position: relative;
    counter-increment: section 1;
    content: attr(data-before-content);
    margin-right: 1rem;
    color: #fff55a;
    font-weight: 400; }
  .work-page .numbered-heading.left::after {
    content: "";
    flex: 1;
    margin-left: 1rem;
    height: 1px;
    background-color: #000;
    margin-left: 20px;
    background-color: #fff55a;
    max-width: 800px; }
  .work-page .numbered-heading.right::before {
    content: "";
    flex: 1;
    margin-right: 1rem;
    height: 1px;
    background-color: #000;
    margin-left: 20px;
    background-color: #fff55a;
    max-width: 800px; }
  .work-page .numbered-heading.right::after {
    position: relative;
    counter-increment: section 1;
    content: attr(data-before-content);
    margin-left: 1rem;
    color: #fff55a;
    font-weight: 400; }

.work-page .work-section {
  padding-top: 8rem;
  height: 100vh; }
  .work-page .work-section .image-container {
    display: block;
    position: absolute;
    width: 50%;
    height: 70%;
    margin: 0 8% 0 auto;
    right: 0;
    overflow: hidden;
    background-color: black;
    box-shadow: 0 80px 140px -40px rgba(0, 0, 0, 0.6); }
    .work-page .work-section .image-container img {
      filter: brightness(50%); }
    @media (max-width: 596px) {
      .work-page .work-section .image-container {
        display: block;
        position: absolute;
        width: 85vw;
        height: auto; } }
  .work-page .work-section .text-wrapper ul {
    padding: 1.5rem;
    list-style-type: none; }
    .work-page .work-section .text-wrapper ul li {
      opacity: 0; }
      .work-page .work-section .text-wrapper ul li::before {
        content: "\21FE";
        font-weight: bold;
        display: inline-block;
        width: 1em;
        margin-left: -1em;
        color: #fff55a; }
  .work-page .work-section .text-wrapper .batch-wrapper .batch {
    display: inline-block;
    font-size: 1rem;
    color: #fc6542;
    background: #fff55a;
    line-height: 1;
    font-weight: bold;
    padding: 18px 32px;
    transition: .5s;
    letter-spacing: 0.1em; }
  @media (max-width: 596px) {
    .work-page .work-section .text-wrapper {
      padding-top: 15rem; } }
  .work-page .work-section .text-container {
    overflow: hidden; }
  .work-page .work-section .sm-header {
    font-size: 2rem;
    color: #fff55a;
    padding-bottom: 1.5rem; }
    @media (max-width: 596px) {
      .work-page .work-section .sm-header {
        font-size: 1rem; } }
  .work-page .work-section .lg-header {
    font-size: 5rem; }
    @media (max-width: 596px) {
      .work-page .work-section .lg-header {
        font-size: 3rem; } }
  .work-page .work-section .wave {
    cursor: pointer;
    animation-name: wave-animation;
    /* Refers to the name of your @keyframes element below */
    animation-duration: 2.5s;
    /* Change to speed up or slow down */
    animation-iteration-count: infinite;
    /* Never stop waving :) */
    transform-origin: 70% 70%;
    /* Pivot around the bottom-left palm */
    display: inline-block; }

@keyframes wave-animation {
  0% {
    transform: rotate(0deg); }
  10% {
    transform: rotate(14deg); }
  /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg); }
  30% {
    transform: rotate(14deg); }
  40% {
    transform: rotate(-4deg); }
  50% {
    transform: rotate(10deg); }
  60% {
    transform: rotate(0deg); }
  /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg); } }
  .work-page .work-section .md-description {
    font-size: 1.5rem;
    line-height: 2rem;
    color: #dee2e6;
    max-width: 500px;
    padding-top: 1.5rem; }
    @media (max-width: 596px) {
      .work-page .work-section .md-description {
        font-size: 1rem;
        line-height: 1.5rem; } }
